body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.BlueButton {
  background: #5e9cd3;
  color: white;
  padding: 10px 40px;
  text-transform: uppercase;
  border: 0;
  font-size: 15px;
  font-weight: 100;
  font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
  margin: 5px;
}

.root {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.Cropper {
  margin: 0 auto;
}

.ImageDrop {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  /* width: 200px; height: 200px; border-width: 2px; border-color: rgb(102, 102, 102); border-style: dashed; border-radius: 5px; */
}

.Thumbnails .Cup {
  /* width: 100px; */
}

.Row {
}

.MainImage {
  padding: 10px;
  /* lost-column: 3/4; */
  display: inline-block;
  vertical-align: top;
}
.MainImage canvas {
  width: 100%;
  display: inline-block;
}

.Thumbnails {
  display: inline-block;
  /* lost-column: 1/4; */
}
.Thumbnails canvas {
  display: inline-block;
}
