body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.BlueButton {
  background: #5e9cd3;
  color: white;
  padding: 10px 40px;
  text-transform: uppercase;
  border: 0;
  font-size: 15px;
  font-weight: 100;
  font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
  margin: 5px;
}
.OrangeButton {
  background: #eb7d3c;
  color: white;
  padding: 10px 40px;
  text-transform: uppercase;
  border: 0;
  font-size: 15px;
  font-weight: 100;
  font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
  margin: 5px;
}
.WhiteButton {
  color: #888;
  background: #f6f6f6;
  padding: 10px 40px;
  text-transform: uppercase;
  border: 0;
  font-size: 15px;
  font-weight: 100;
  font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
  margin: 5px;
}

.root {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.Cropper {
  margin: 0 auto;
}

.ImageDrop,
.ImageUploading {
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  /* width: 200px; height: 200px; border-width: 2px; border-color: rgb(102, 102, 102); border-style: dashed; border-radius: 5px; */
}
.Upload {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.Upload img {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.Upload .processing {
  color: #333;
  position: absolute;
  /* left: 0; */
  /* left: 100px; */
  top: 200px;
  /* height: 100%; */
  z-index: 999;
  width: 100%;
  /* background: rgba(255, 255, 255, 0.8); */
  /* background: rgba(0, 0, 0, 0.1); */
  font-size: 30px;
  text-transform: uppercase;
  /* padding-top: 200px; */
  /* padding: 100px 40px; */
  text-align: center;
  /* vertical-align: middle; */
  /* background: red; */

}

.Thumbnails .Cup {
  /* width: 100px; */
}

.Row {
}

.MainImage {
  padding: 10px;
  /* lost-column: 3/4; */
  display: inline-block;
  vertical-align: top;
}
.MainImage canvas {
  width: 640px !important;
  height: 480px !important;
  display: inline-block;
}

.Thumbnails {
  display: inline-block;
  /* lost-column: 1/4; */
}
.Thumbnails canvas {
  display: inline-block;
}
.react-spinner {
  margin: 100px;
  z-index: 999;
}
.react-spinner_bar {
  background-color: #333 !important;
}

.cropper-bg {
  background-color: white;
  background-image: none !important;
}

.fa-play.reverse {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
}

.rc-slider.Slider {
  width: 50%;
  margin: auto;
  padding: 20px;
  padding-bottom: 40px;
}
.rc-slider.Slider .rc-slider-track {
  background-color: #bbbbbb;
}
.Slider .rc-slider-handle {
  border-color: #bbb;
}

.Grid {
  lost-utility: clearfix;
}

/* .Grid .fa-check { */
  /* color: #5ab24d; */
  /* position: relative; */
  /* font-size: 60px; */
  /* left: 80px; */
  /* top: -80px; */
/* } */

.Grid .inline {
  lost-column: 1/3;
}

.Grid .Cup {
  flex: 1;
  position: relative;
}

.Thumbnails canvas {
  width: 140px !important;
  height: 105px !important;
}

.Grid .CupImage {
  lost-column: 1/3 3 0;
  position: relative;

}
.Grid .CupImage img {
  width: 100%;
  height: 100%;
  /* width: 200px; */
  /* height: 150px; */
}

.Grid .CupImage .fa.fa-check {
  color: #5ab24d;
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-size: 60px;
  /* top: 10px; */
  /* right: 10px; */
}
.Grid .CupImage .instruction {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  /* font-weight: bold; */
  font-style: italic;
  color: #888;
  font-size: 12px;
}
/* .Grid .CupImage img:before, */
/* .Grid .CupImage img::before { */
  /* content: "\f006"; */
/* } */

.Form .formInput {
  text-align: center;
  margin: 10px auto;
  width: 400px;
}

.Form .formInput select {
  /* box-sizing: content-box; */
  /* height: 37px; */
  width: 100%;
  height: 40px;
  /* padding: 10px 0; */
}
.Form .formInput option {
  /* box-sizing: content-box; */
  /* height: 37px; */
  width: 100%;
  /* padding: 10px 0; */
}
.Form .formInput input {
  /* box-sizing: content-box; */
  box-sizing: border-box;
  padding: 4px;
  width: 100%;
  /* width: 200px; */
}

.BluePanel {
  background: #5e9cd3;
  width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  /* padding-top: 60px; */
  color: white;
  min-height: 100px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

.light {
  color: #888;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 10px;
}
.light .line1 {
  font-size: 9px;
}
.light .line2 {
  font-size: 13px;
}

.inline-block {
  display: inline-block;
}

.Invalid {
  color: red;
  font-size: 11px;
  font-style: italic;
}

.Buttons {
  margin-top: 27px;
}
